
.nav {
    width: 99%;
    padding: 5px;
    /* border: 1px solid red; */
    background-color: rgb(255, 217, 0);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 1px;
    position: fixed;
    top: 0%;
    /* overflow: hidden; */
}

.imag > img {
    width: 50%;
    height: 75%;
    /* border: 1px solid red; */
    margin-left: 10%;
    margin-top: 3%;
    cursor: pointer;
}

.lang{
    border: 1px solid black;
    border-radius: 40px;
    width: 100px;
    height: 35px;
    font-size: 12px;
    text-align: center;
    margin-top: 0.7%;
    left: 150px;
    position:fixed;
}
.lang:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.search {
    /* border: 1px solid red; */
    margin-left: 73%;
    margin-top: 1%;
    
}