.news {
    width: 600px;
    /* border: 1px solid red; */
    margin-left: 26%;
    margin-top: 100px;
}
.img1{
    width:100%;
    height:400px;
}
.block1 {
    margin-bottom: 5%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 500px;
    cursor: pointer;
}
.body{
    background-color: white;
}
